@{
    ViewBag.Title = "Forgot Password";
}

<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="well">
            <h2>Forgot Password</h2>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (string error in (IEnumerable<string>)ViewBag.Error)
                        {
                            <li>@error</li>
                        }
                    </ul>

                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input name="username" placeholder="username" type="text" class="form-control" required />
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <input type="submit" class="btn btn-primary" value="Request Reset Instructions" />
                    </div>
                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input name="email" placeholder="email" type="email" class="form-control" required />
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <input type="submit" class="btn btn-primary" value="Request Reset Instructions" />
                    </div>
                    
                </div>
            }
        </div>
        <div class="col-xs-12 col-sm-6">
            @Html.ActionLink("Log On", "LogIn", null, new { @class = "btn btn-default" })
        </div>
        <div class="col-xs-12 col-sm-6">
            @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>