@using UberUnlock.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="row">
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
        <hr/>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="submit" value="Log in" class="btn btn-success btn-lg btn-block"/>
                        <span style="float: left!important; padding-top: 10px; margin-bottom: 100px;">@Html.ActionLink("Register as a new user", "Register")</span>
                        <span style="float: right!important; padding-top: 10px;">@Html.ActionLink("Forgot password?", "ForgotPassword")</span>
                    </div>
                </div>
                <p>
                    
                </p>
                //Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    
                </p>
            }
        </section>
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}